@import "../../variables";

:host {
    height: 100%;
    position: absolute;
    width: 100%;


    mat-card {
        @include mat-elevation(24);
        left: 50%;
        min-height: 250px;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 450px;


        mat-card-actions {
            width: 100%;

            button {
                width: 100%;
            }
        }
    }
}
