<mat-card>
    <mat-card-content>
        <span class="mat-display-2">Welcome</span>
        <form [formGroup]="formGroup" class="login-form" vflex-layout>
            <mat-form-field flex>
                <input
                    #loginInput [(ngModel)]="login" [autocomplete]="'off'" formControlName="login" matInput placeholder="Login"
                    required>
                <mat-error>
                    <span *ngIf="formGroup.get('login').errors?.required">Field is required</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field flex>
                <input
                    #passInput [(ngModel)]="password" [autocomplete]="'off'" [type]="'password'" formControlName="password"
                    matInput placeholder="Password" required>
                <mat-error>
                    <span *ngIf="formGroup.get('password').errors?.required">Field is required</span>
                </mat-error>
            </mat-form-field>
        </form>
        <mat-hint *ngIf="errorHint">
            <mat-error>{{ errorHint }}</mat-error>
        </mat-hint>
    </mat-card-content>
    <mat-card-actions>
        <button
            (click)="makeLogin()" color="primary" flex
            mat-raised-button>
            Login
        </button>
    </mat-card-actions>
</mat-card>
