<mat-toolbar class="table-control-panel">
    <mat-toolbar-row>
        <button (click)="openDialog('add')" color="primary" mat-stroked-button>Add</button>
        <button (click)="deleteModels()" *ngIf="selection.hasValue()" color="primary" mat-stroked-button>Delete</button>
        <span flex></span>
        <button (click)="store.reload()" [matTooltip]="'Reload'" class="action-button" mat-icon-button>
            <mat-icon>refresh</mat-icon>
        </button>
        <mat-paginator
                [length]="store.items?.length" [pageSizeOptions]="[10, 20, 30, 100, 200]"
                pageSize="100"></mat-paginator>
    </mat-toolbar-row>
</mat-toolbar>
<div class="table-container">
    <table
            [dataSource]="store.dataSource" [dkLoadmask]="store.loading | async" mat-table matSort
            matSortActive="name" matSortDirection="desc" matSortDisableClear multiTemplateDataRows>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th *matHeaderCellDef mat-header-cell>
                <mat-checkbox
                        (change)="$event && masterToggle()"
                        [aria-label]="checkboxLabel()"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td *matCellDef="let row" mat-cell>
                <mat-checkbox
                        (change)="$event ? selection.toggle(row) : null"
                        (click)="$event.stopPropagation()"
                        [aria-label]="checkboxLabel(row)"
                        [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Name</th>
            <td *matCellDef="let element" mat-cell> {{ element.name }} </td>
        </ng-container>

        <ng-container matColumnDef="devices">
            <th *matHeaderCellDef mat-header-cell>Allowed door devices</th>
            <td *matCellDef="let element" mat-cell>
                <mat-icon
                    #refACl
                    [matBadgeColor]="'primary'"
                    [matTooltip]="element.getDeviceNames()"
                    [matTooltipClass]="'tooltip-custom'"
                    [matBadge]="element.allowed_all ? 'All' : element.allowed_devices?.length || '-'"
                    [style.cursor]="!element.allowed_all && !!element.allowed_devices?.length ? 'pointer' : null">
                    meeting_room
                </mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="users">
            <th *matHeaderCellDef mat-header-cell>User</th>
            <td *matCellDef="let element" mat-cell>
                <mat-icon
                    #refUser
                    [matTooltip]="element.getUserNames()"
                    [matTooltipClass]="'tooltip-custom'"
                    [matBadgeColor]="'primary'"
                    [matBadge]="element.users?.length || 0"
                    [style.cursor]="!!element.users?.length ? 'pointer' : null">
                    supervised_user_circle
                </mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let element" mat-cell>
                <button
                        mat-icon-button class="action-button"
                        [matTooltip]="'Edit'"
                        (click)="openDialog('edit', element)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>


        <tr *matHeaderRowDef="['select', 'name', 'devices', 'users', 'actions']; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let row; columns: ['select', 'name', 'devices', 'users', 'actions'];" mat-row></tr>
    </table>
</div>

<ng-template #manageEntityDialog>
    <h1 mat-dialog-title>{{ this.dialogEditMode ? 'Edit role' : 'Add new role' }}</h1>
    <div mat-dialog-content vflex-layout>
        <mat-form-field flex>
            <input
                    matInput placeholder="Name"
                    [(ngModel)]="currentModel.name"
                    [formControl]="currentModel.modelForm.controls['name']">
        </mat-form-field>
        <mat-slide-toggle flex [(ngModel)]="currentModel.allowed_all">Allowed all</mat-slide-toggle>
        <ng-container *ngIf="!currentModel.allowed_all">
            <p>Allowed devices</p>
            <mat-divider></mat-divider>
            <mat-form-field flex>
                <mat-chip-list #chipList>
                    <mat-chip
                            *ngFor="let device of currentModel.allowed_devices"
                            [selectable]="false"
                            [removable]="true"
                            (removed)="removeDeviceFromModel(device)">
                        {{ device.name }}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input
                            [formControl]="myControl"
                            [matAutocomplete]="chipAutocomplete"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" matInput
                            [placeholder]="'Assignee'"
                            [type]="'text'">
                </mat-chip-list>
                <mat-autocomplete
                    #chipAutocomplete="matAutocomplete"
                    (optionSelected)="addDeviceToModel($event.option.value)"
                    [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{ option.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </ng-container>
    </div>
    <div mat-dialog-actions>
        <button [mat-dialog-close]="false" mat-button>Close</button>
        <button
                [disabled]="currentModel.modelForm.invalid"
                [mat-dialog-close]="true"
                mat-button>
            {{ this.dialogEditMode ? 'Save' : 'Create' }}
        </button>
    </div>
</ng-template>
