<mat-toolbar>
    <mat-divider></mat-divider>
    <mat-toolbar-row>
        <span flex></span>
        <mat-paginator [length]="modelData.length" [pageSizeOptions]="[3, 10, 20, 30, 100, 200]"></mat-paginator>
    </mat-toolbar-row>
</mat-toolbar>
<table [dataSource]="dataSource" mat-table matSort matSortActive="mac" matSortDirection="desc" matSortDisableClear>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [aria-label]="checkboxLabel()"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
            >
            </mat-checkbox>
        </th>
        <td *matCellDef="let row" mat-cell>
            <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                          (click)="$event.stopPropagation()"
                          [aria-label]="checkboxLabel(row)"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <ng-container matColumnDef="mac">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Mac address</th>
        <td *matCellDef="let data" mat-cell>{{data.mac}}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell>Description</th>
        <!--          <td mat-cell *matCellDef="let data">{{data.name}}</td>-->
        <td *matCellDef="let data" mat-cell>Door which give access in flor #1</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="group">
        <th *matHeaderCellDef mat-header-cell>Group</th>
        <!--          <td mat-cell *matCellDef="let element">{{element.weight}}</td>-->
        <td *matCellDef="let element" mat-cell>Flor #1</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="power">
        <th *matHeaderCellDef mat-header-cell>Power</th>
        <td *matCellDef="let data" mat-cell>
            <mat-icon [matTooltip]="data.status ? 'Online' : 'Offline'"
                      [ngClass]="data.status ? 'green-icon' : 'red-icon'">
                {{ data.status ? 'lens' : 'error' }}
            </mat-icon>
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell>Status</th>
        <td *matCellDef="let data" mat-cell>
            <mat-icon
                [matTooltip]="data.locked ? 'Locked' : 'Unlocked'">
                {{ data.icon }}
            </mat-icon>
        </td>
    </ng-container>
    <tr *matHeaderRowDef="['mac', 'description', 'group', 'power', 'status']" mat-header-row></tr>
    <tr *matRowDef="let row; columns: ['mac', 'description', 'group', 'power', 'status'];" mat-row></tr>
</table>
