<mat-toolbar class="table-control-panel">
    <mat-divider></mat-divider>
    <mat-toolbar-row>
        <span flex></span>
        <button (click)="store.reload()" [matTooltip]="'Reload'" class="action-button" mat-icon-button>
            <mat-icon>refresh</mat-icon>
        </button>
        <mat-paginator
                [color]="'warn'" [length]="store.items.length"
                [pageSizeOptions]="[3, 10, 20, 30, 100, 200]"></mat-paginator>
    </mat-toolbar-row>
</mat-toolbar>
<table
        [dataSource]="store.dataSource" [dkLoadmask]="store.loading | async" mat-table matSort matSortActive="name"
        matSortDirection="desc"
        matSortDisableClear>

    <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Device name</th>
        <td *matCellDef="let data" mat-cell>{{ data.name }}</td>
    </ng-container>
    <ng-container matColumnDef="ip">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Ip address</th>
        <td *matCellDef="let data" mat-cell>{{ data.ip }}</td>
    </ng-container>

    <ng-container matColumnDef="power">
        <th *matHeaderCellDef mat-header-cell>Power</th>
        <td *matCellDef="let data" mat-cell>
            <mat-icon
                    [matTooltip]="data.status ? 'Online' : 'Offline'"
                    [ngClass]="data.status ? 'green-icon' : 'red-icon'">
                {{ data.status ? 'lens' : 'error' }}
            </mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell>Status</th>
        <td *matCellDef="let data" mat-cell>
            <mat-icon [matTooltip]="data.mode | titlecase">
                {{ data.icon }}
            </mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let element" mat-cell>
            <button
                    class="action-button" mat-icon-button
                    [matTooltip]="'Change mode'"
                    (click)="openDialog('edit', element)">
                <mat-icon>settings</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr *matHeaderRowDef="['name', 'ip' , 'power', 'status', 'actions']" mat-header-row></tr>
    <tr *matRowDef="let row; columns: ['name', 'ip', 'power', 'status', 'actions'];" mat-row></tr>
</table>

<ng-template #manageEntityDialog>
    <h1 mat-dialog-title>{{ 'Select device mode' }}</h1>
    <div mat-dialog-content vflex-layout>
        <mat-form-field flex>
            <mat-label>Select an option</mat-label>
            <mat-icon [style.font-size]="'16px'" matPrefix>{{ lockModeIconMap[currentModel.mode] }}</mat-icon>
            <mat-select
                    [disabled]="!currentModel.status"
                    [(value)]="currentModel.mode">
                <mat-select-trigger>
                    <span>{{ currentModel.mode | titlecase }}</span>
                </mat-select-trigger>
                <mat-option [value]="lockModes.Guard">
                    <mat-icon>{{ lockModeIconMap[lockModes.Guard] }}</mat-icon>
                    <span>{{ lockModes.Guard | titlecase }}</span>
                </mat-option>
                <mat-option [value]="lockModes.Unlocked">
                    <mat-icon>{{ lockModeIconMap[lockModes.Unlocked] }}</mat-icon>
                    <span>{{ lockModes.Unlocked | titlecase }}</span>
                </mat-option>
                <mat-option [value]="lockModes.Locked">
                    <mat-icon>{{ lockModeIconMap[lockModes.Locked] }}</mat-icon>
                    <span>{{ lockModes.Locked | titlecase }}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <span *ngIf="!currentModel.status" class="cannot-apply-new-config-label">
           <mat-icon color="warn">error</mat-icon> Cannot apply new mode for not active device
        </span>
    </div>
    <div mat-dialog-actions>
        <button [mat-dialog-close]="false" mat-button>Close</button>
        <button mat-button
                [disabled]="!currentModel.status"
                [mat-dialog-close]="true">
            {{ 'Save' }}
        </button>
    </div>
</ng-template>
