@import '~@angular/material/theming';
@import './variables.scss';
@import "./app/tools/styles";

@include angular-material-theme($defaultTheme);
@include dk-loadmask-mixin;

[header-title] {
    font-weight: bold;
}

[flex] {
    flex: 1;
}

mat-card {
    min-height: 400px;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

