@import "~@angular/material/theming";
@import "./variables.scss";
@import "./app/tools/styles";

@include angular-material-theme($defaultTheme);
@include dk-loadmask-mixin;

[header-title] {
    font-weight: bold;
}

[flex] {
    flex: 1;
}

mat-card {
    min-height: 400px;
}

html, body {
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
}

.mat-row {
    &:hover {
        .action-button {
            display: inherit;
        }
    }

    .action-button {
        display: none;
    }

    .cdk-column-actions {
        padding: 0;
        right: 24px;
        width: 48px;
    }
}
