<mat-toolbar>
    <mat-toolbar-row>
        <button (click)="openAdd()" color="primary" mat-stroked-button>Add</button>
        <button (click)="deleteModel()" *ngIf="selection.hasValue()" color="primary" mat-stroked-button>Delete</button>
        <span flex></span>
        <mat-paginator [length]="dataSource.data?.length" [pageSizeOptions]="[10, 20, 30, 100, 200]"></mat-paginator>
    </mat-toolbar-row>
</mat-toolbar>
<div class="table-container">
    <table [dataSource]="dataSource" [dkLoadmask]="loading" dkLoadmaskPosition="top" dkLoadmaskText="Getting data from the server..."
           mat-table
           matSort matSortActive="name" matSortDirection="desc" matSortDisableClear>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th *matHeaderCellDef mat-header-cell>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [aria-label]="checkboxLabel()"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td *matCellDef="let row" mat-cell>
                <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                              (click)="$event.stopPropagation()"
                              [aria-label]="checkboxLabel(row)"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Name</th>
            <td *matCellDef="let element" mat-cell> {{element.name}} </td>
        </ng-container>
        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th *matHeaderCellDef mat-header-cell> Description</th>
            <td *matCellDef="let element" mat-cell> {{element.description}} </td>
        </ng-container>
        <!-- IP Column -->
        <ng-container matColumnDef="ip">
            <th *matHeaderCellDef mat-header-cell> IP address</th>
            <td *matCellDef="let element" mat-cell> {{element.ip}} </td>
        </ng-container>
        <tr *matHeaderRowDef="['select', 'name', 'description', 'ip']; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let row; columns: ['select', 'name', 'description', 'ip'];" mat-row></tr>
    </table>
</div>


<ng-template #addDialog>
    <h1 mat-dialog-title>Add new device</h1>
    <div mat-dialog-content>
        <form [formGroup]="addGroup">
            <mat-form-field>
                <input [(ngModel)]="newModel.name" formControlName="name" matInput placeholder="Name">
            </mat-form-field>
            <mat-form-field>
                <input [(ngModel)]="newModel.ip" formControlName="ip" matInput placeholder="IP address">
            </mat-form-field>
            <mat-form-field>
                <input [(ngModel)]="newModel.description" formControlName="description" matInput
                       placeholder="Description">
            </mat-form-field>
        </form>

    </div>
    <div mat-dialog-actions>
        <button [mat-dialog-close]="false" mat-button>Close</button>
        <button [mat-dialog-close]="true" cdkFocusInitial mat-button>Create</button>
    </div>
</ng-template>
