<mat-toolbar>
    <mat-toolbar-row>
        <button (click)="openDialog('add')" color="primary" mat-stroked-button>Add</button>
        <button (click)="deleteModels()" *ngIf="selection.hasValue()" color="primary" mat-stroked-button>Delete</button>
        <span flex></span>
        <mat-paginator [length]="store.items?.length" [pageSizeOptions]="[10, 20, 30, 100, 200]"></mat-paginator>
    </mat-toolbar-row>
</mat-toolbar>
<div class="table-container">
    <table
            [dataSource]="store.dataSource" [dkLoadmask]="loading" dkLoadmaskPosition="top"
            dkLoadmaskText="Getting data from the server..."
            mat-table
            matSort matSortActive="name" matSortDirection="desc" matSortDisableClear>

        <ng-container matColumnDef="select">
            <th *matHeaderCellDef mat-header-cell>
                <mat-checkbox
                        (change)="$event ? masterToggle() : null"
                        [aria-label]="checkboxLabel()"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td *matCellDef="let row" mat-cell>
                <mat-checkbox
                        (change)="$event ? selection.toggle(row) : null"
                        (click)="$event.stopPropagation()"
                        [aria-label]="checkboxLabel(row)"
                        [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Name</th>
            <td *matCellDef="let element" mat-cell> {{ element.name }} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th *matHeaderCellDef mat-header-cell> Description</th>
            <td *matCellDef="let element" mat-cell> {{ element.description }} </td>
        </ng-container>

        <ng-container matColumnDef="ip">
            <th *matHeaderCellDef mat-header-cell> IP address</th>
            <td *matCellDef="let element" mat-cell> {{ element.ip }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let element" mat-cell>
                <button (click)="openDialog('edit', element)" class="action-button" mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="['select', 'name', 'description', 'ip', 'actions']; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let row; columns: ['select', 'name', 'description', 'ip', 'actions'];" mat-row></tr>
    </table>
</div>


<ng-template #addDialog>
    <h1 mat-dialog-title>{{ dialogEditMode ? 'Edit device' : 'Add new device' }}</h1>
    <div mat-dialog-content>
        <form [formGroup]="addGroup">
            <mat-form-field>
                <input [(ngModel)]="addEditModel.name" formControlName="name" matInput placeholder="Name">
            </mat-form-field>
            <mat-form-field>
                <input [(ngModel)]="addEditModel.ip" formControlName="ip" matInput placeholder="IP address">
            </mat-form-field>
            <mat-form-field>
                <input
                        [(ngModel)]="addEditModel.description" formControlName="description" matInput
                        placeholder="Description">
            </mat-form-field>
        </form>

    </div>
    <div mat-dialog-actions>
        <button [mat-dialog-close]="false" mat-button>Close</button>
        <button
                [disabled]="addGroup.invalid" [mat-dialog-close]="true"
                mat-button>{{ dialogEditMode ? 'Save' : 'Create' }}</button>
    </div>
</ng-template>
