<mat-toolbar>
    <mat-toolbar-row>
        <button mat-stroked-button color="primary" (click)="openAdd()">Add</button>
        <button *ngIf="selection.hasValue()" mat-stroked-button color="primary" (click)="deleteModel()">Delete</button>
        <span flex></span>
        <mat-paginator [length]="dataSource.data?.length" [pageSizeOptions]="[10, 20, 30, 100, 200]"></mat-paginator>
    </mat-toolbar-row>
</mat-toolbar>
<div class="table-container">
    <table mat-table [dataSource]="dataSource" [dkLoadmask]="loading" dkLoadmaskPosition="top"
           dkLoadmaskText="Getting data from the server..."
           matSort matSortActive="name" matSortDisableClear matSortDirection="desc">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [aria-label]="checkboxLabel()"
                              (change)="$event ? masterToggle() : null">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox [checked]="selection.isSelected(row)"
                              [aria-label]="checkboxLabel(row)"
                              (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Name</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description</th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
        <!-- IP Column -->
        <ng-container matColumnDef="ip">
            <th mat-header-cell *matHeaderCellDef> IP address</th>
            <td mat-cell *matCellDef="let element"> {{element.ip}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['select', 'name', 'description', 'ip']; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: ['select', 'name', 'description', 'ip'];"></tr>
    </table>
</div>


<ng-template #addDialog>
    <h1 mat-dialog-title>Add new device</h1>
    <div mat-dialog-content>
        <form [formGroup]="addGroup">
            <mat-form-field>
                <input matInput formControlName="name" [(ngModel)]="newModel.name" placeholder="Name">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="ip" [(ngModel)]="newModel.ip" placeholder="IP address">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="description" [(ngModel)]="newModel.description" placeholder="Description">
            </mat-form-field>
        </form>

    </div>
    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="false">Close</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Create</button>
    </div>
</ng-template>
