mat-toolbar {
    background: white;
}

mz-modal {
    ::ng-deep .modal.modal-fixed-footer .modal-content {
        height: 350px;
        position: absolute;
        top: 10% !important;
        width: 700px;

        mz-modal-content {
            display: flex;
            flex-direction: column;
            margin: 0 16px;

            mz-input-container {
                ::ng-deep .input-field {
                    margin: 0 auto;
                    width: 400px;
                }
            }
        }
    }
}

.table-container {
    height: 78vh;
    overflow: auto;
}

[mat-table] {
    width: 100%;
}

button {
    margin: 16px 8px;
}

.load-message {
    font-size: 24px;
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2196f3;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}
