<mat-toolbar class="table-control-panel">
    <mat-toolbar-row>
        <span flex></span>
        <button (click)="store.reload()" [matTooltip]="'Reload'" class="action-button" mat-icon-button>
            <mat-icon>refresh</mat-icon>
        </button>
        <mat-paginator
            [length]="store.dataSource.data.length" [pageSizeOptions]="[10, 20, 30, 100, 200]"
            pageSize="100"></mat-paginator>
    </mat-toolbar-row>
</mat-toolbar>

<div class="table-container">
    <mat-table
        [dataSource]="store.dataSource" [dkLoadmask]="store.loading | async" mat-table
        matSort matSortActive="time" matSortDirection="desc" matSortDisableClear>

        <ng-container matColumnDef="uid">
            <mat-header-cell *matHeaderCellDef mat-sort-header>UUID</mat-header-cell>
            <mat-cell *matCellDef="let log">{{ log.uuid }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="card">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Card</mat-header-cell>
            <mat-cell *matCellDef="let log">{{ log.card_name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
            <mat-cell *matCellDef="let log"> {{ log.role_name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="door">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Door</mat-header-cell>
            <mat-cell *matCellDef="let log">{{ log.device_name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="time">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
            <mat-cell *matCellDef="let log">{{ log.time | date :'medium' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="access">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Access</mat-header-cell>
            <mat-cell *matCellDef="let log">
                <span [matTooltip]="log.error">{{ log.access ? 'granted' : 'denied' }}</span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="reason">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Reason</mat-header-cell>
            <mat-cell *matCellDef="let log">
                <span [matTooltip]="log.error">{{ log.error }}</span>
            </mat-cell>
        </ng-container>

        <mat-header-row
            *matHeaderRowDef="['uid', 'card', 'role','door', 'time', 'access', 'reason']; sticky: true"></mat-header-row>
        <mat-row
            *matRowDef="let log; columns: ['uid', 'card', 'role','door', 'time', 'access', 'reason'];"
            [attr.denied]="log.access ? '' : null"
            [attr.granted]="log.access ? null : ''">
        </mat-row>
    </mat-table>
</div>
