<mat-toolbar>
    <mat-toolbar-row>
        <span flex></span>
        <mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[10, 20, 30, 100, 200]"
                       pageSize="100"></mat-paginator>
    </mat-toolbar-row>
</mat-toolbar>

<div class="table-container">
    <table [dataSource]="dataSource" mat-table
           matSort matSortActive="time" matSortDirection="desc" matSortDisableClear>
        <ng-container matColumnDef="uid">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Uid</th>
            <td *matCellDef="let log" mat-cell>{{log.card_info.uid}}</td>
        </ng-container>
        <ng-container matColumnDef="user">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>User</th>
            <td *matCellDef="let log" mat-cell>{{log.user_info ? log.user_info.name : 'No data'}}</td>
        </ng-container>
        <ng-container matColumnDef="group">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Group</th>
            <td *matCellDef="let log" mat-cell> {{log.group_info ? log.group_info.name : 'No data'}}</td>
        </ng-container>
        <ng-container matColumnDef="door">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Door</th>
            <td *matCellDef="let log" mat-cell>{{log.door_info ? log.door_info.name : 'No data'}}</td>
        </ng-container>
        <ng-container matColumnDef="time">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Time</th>
            <td *matCellDef="let log" mat-cell>{{log.time | date :'medium'}}</td>
        </ng-container>
        <ng-container matColumnDef="access">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Access</th>
            <td *matCellDef="let log" mat-cell>{{log.access ? 'granted' : 'denied'}}</td>
        </ng-container>

        <tr *matHeaderRowDef="['uid', 'user', 'group','door', 'time', 'access']; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let row; columns: ['uid', 'user', 'group','door', 'time', 'access'];" mat-row>
        </tr>
    </table>
</div>
