@import "~@angular/material/theming";

.load-message {
    font-size: 24px;
    text-align: center;
}

[granted] {
    background-color: mat-color($mat-deep-orange, 500);
}

[denied] {
    background-color: mat-color($mat-light-green, A200);
}
