<div *ngIf="showNavigation" class="app-container" ngxLoadingMask>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button (click)="snav.toggle()" mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
            <h1 class="brand-logo">{{ title }}</h1>
            <span flex></span>
            <button [matMenuTriggerFor]="appMenu" mat-icon-button>
                <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #appMenu="matMenu">
                <mat-optgroup>Signed in as <b>{{ username }}</b></mat-optgroup>
                <button (click)="openChangePasswordDlg(changePasswordDlg)" mat-menu-item>
                    <mat-icon>build</mat-icon>
                    <span>Change password</span>
                </button>
                <button (click)="makeLogout()" mat-menu-item>
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container [hasBackdrop]="true" class="sidenav-container">
        <mat-sidenav #snav [mode]="'over'" fixedTopGap="56">
            <mat-nav-list>
                <a
                    (click)="snav.close()" *ngFor="let content of navItems"
                    [routerLink]="[content.link]"
                    mat-list-item>
                    {{ content.name }}
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<router-outlet *ngIf="!showNavigation"></router-outlet>

<ng-template #globalLoading="cdkPortal" cdkPortal>
    <div class="load-container">
        <mat-progress-spinner
            [color]="'primary'"
            [mode]="'indeterminate'">
        </mat-progress-spinner>
        <div>Loading...</div>
    </div>
</ng-template>


<ng-template #changePasswordDlg>
    <h1 mat-dialog-title>Change password</h1>
    <div mat-dialog-content vflex-layout>
        <form [formGroup]="changePasswordFormGroup" vflex-layout>
            <mat-form-field flex>
                <input
                    [(ngModel)]="changePasswordObj.old_password" [autocomplete]="'off'" formControlName="old_password" matInput
                    placeholder="Old password"
                    required>
                <mat-error>
                    <span *ngIf="changePasswordFormGroup.get('old_password').errors?.required">Field is required</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field flex>
                <input
                    [(ngModel)]="changePasswordObj.new_password" [autocomplete]="'newpassword'" formControlName="new_password"
                    matInput placeholder="New Password"
                    required>
                <mat-error>
                    <span *ngIf="changePasswordFormGroup.get('new_password').errors?.required">Field is required</span>
                </mat-error>
            </mat-form-field>
        </form>
        <mat-error>
            <span *ngIf="hintError">{{ hintError }}</span>
        </mat-error>
    </div>
    <div align="end" mat-dialog-actions>
        <button [mat-dialog-close]="false" mat-button>Close</button>
        <button (click)="changePassword()" [disabled]="changePasswordFormGroup.invalid" mat-button>Save</button>
    </div>
</ng-template>
