@import "~@angular/material/_theming.scss";
@import "./../../variables";

.table-container {
    overflow: auto;
    height: 78vh;
}

[mat-table] {
    width: 100%;
}

mat-toolbar {
    background: mat-color($background, card);

    button {
        margin: 16px 8px;
    }
}

mat-form-field {
    width: 100%;
}

.grid-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.mat-row {
    &:hover {
        .action-button {
            display: inherit;
        }
    }
    .action-button {
        display: none;
    }

    .cdk-column-actions {
        right: 24px;
        padding: 0;
        width: 48px;
    }
}
.portal {
    background-color: #fff;
    width: 100%;
    height: 100%;
}
.popover {
    margin: 8px;
    background-color: #fff;
    font-size: 14px;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
}


[mat-dialog-content] {
    min-height: 210px;
}
