@import "~@angular/material/_theming.scss";
@import "./../../variables";

.table-container {
    overflow: auto;
    height: 78vh;
}

[mat-table] {
    width: 100%;
}

mat-toolbar {
    background: mat-color($background, card);
}

button {
    margin: 16px 8px;
}


mat-form-field {
    width: 100%;
}
