<mat-card>
  <mat-card-header>
    <mat-card-title>Doors list</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="loading">
      <mat-progress-bar
        [color]="'primary'"
        [mode]="'indeterminate'">
      </mat-progress-bar>
      <div class="load-message">Getting data from the server...</div>
    </ng-container>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-stroked-button color="primary" (click)="dialog.open(dialogD)">Add</button>
        <button mat-stroked-button color="primary" (click)="dialog.open(dialogD)">Delete</button>

        <mat-slide-toggle
          color="primary"
          [checked]="loading"
          (change)="loading=$event.checked">
          Loading
        </mat-slide-toggle>
        <span flex></span>
        <mat-paginator #paginator [length]="fakeData.length"
                       [pageSizeOptions]="[10, 20, 30, 100, 200]"></mat-paginator>
      </mat-toolbar-row>
    </mat-toolbar>
<div class="table-container">


    <table mat-table [dataSource]="dataSource"
           matSort matSortActive="name" matSortDisableClear matSortDirection="desc">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description</th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
      <!-- IP Column -->
      <ng-container matColumnDef="ip">
        <th mat-header-cell *matHeaderCellDef> IP address</th>
        <td mat-cell *matCellDef="let element"> {{element.ip}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['select', 'name', 'description', 'ip']; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: ['select', 'name', 'description', 'ip'];"
          (click)="selection.toggle(row)">
      </tr>
    </table>
</div>
  </mat-card-content>
</mat-card>


<ng-template #dialogD>
  <h1 mat-dialog-title>Add data about new door</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="IP address">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Description">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="null">Close</button>
    <button mat-button [mat-dialog-close]="null" cdkFocusInitial>Create</button>
  </div>
</ng-template>
