<mat-toolbar>
    <mat-toolbar-row>
        <button color="primary" mat-stroked-button (click)="openDialog('add')">Add</button>
        <button *ngIf="selection.hasValue()" color="primary" mat-stroked-button (click)="deleteUsers()">Delete</button>
        <span flex></span>
        <mat-paginator #paginator [length]="dataSource.data.length"
                       [pageSizeOptions]="[10, 20, 30, 100, 200]"></mat-paginator>
    </mat-toolbar-row>
</mat-toolbar>
<div class="table-container">
    <table [dataSource]="dataSource" [dkLoadmask]="loading" dkLoadmaskPosition="top"
           dkLoadmaskText="Getting data from the server..."
           mat-table
           matSort matSortActive="name" matSortDirection="desc" matSortDisableClear>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th *matHeaderCellDef mat-header-cell>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [aria-label]="checkboxLabel()"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td *matCellDef="let row" mat-cell>
                <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                              (click)="$event.stopPropagation()"
                              [aria-label]="checkboxLabel(row)"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
            <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="card_uid">
            <th *matHeaderCellDef mat-header-cell>Card UUID</th>
            <td *matCellDef="let element" mat-cell>{{ element.uuid }}</td>
        </ng-container>

        <ng-container matColumnDef="group">
            <th *matHeaderCellDef mat-header-cell>Group</th>
            <td *matCellDef="let element" mat-cell>{{ displayGroupName(element.i_group) }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let element" mat-cell>
                <button (click)="openDialog('edit', element)" class="action-button" mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="['select', 'name', 'card_uid', 'group', 'actions']" mat-header-row></tr>
        <tr *matRowDef="let row; columns: ['select', 'name', 'card_uid', 'group', 'actions'];" mat-row>
        </tr>
    </table>
</div>

<ng-template #addEditDialog>
    <h1 mat-dialog-title>{{ this.dialogEditMode ? 'Edit user' : 'Add new user' }}</h1>
    <div mat-dialog-content>
        <form [formGroup]="addEditUserGroup">
            <mat-form-field>
                <input [(ngModel)]="addEditModel.name" formControlName="name" matInput placeholder="Name">
            </mat-form-field>
            <mat-form-field>
                <input [(ngModel)]="addEditModel.uuid" formControlName="uuid" matInput placeholder="Card UUID">
            </mat-form-field>
        </form>
        <mat-form-field>
            <mat-label>Group</mat-label>
            <mat-select [(value)]="addEditModel.i_group">
                <mat-option [value]="null">None</mat-option>
                <mat-option *ngFor="let group of groups" [value]="group.i_group">
                    {{ group.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button [mat-dialog-close]="false" mat-button>Close</button>
        <button [disabled]="addEditUserGroup.invalid"
                [mat-dialog-close]="true"
                mat-button>
            {{ this.dialogEditMode ? 'Save' : 'Create' }}
        </button>
    </div>
</ng-template>
