<mat-toolbar class="table-control-panel">
    <mat-toolbar-row>
        <button (click)="openDialog('add')" color="primary" mat-stroked-button>Add</button>
        <button (click)="deleteModels()" *ngIf="selection.hasValue()" color="primary" mat-stroked-button>Delete</button>
        <span flex></span>
        <button (click)="store.reload()" [matTooltip]="'Reload'" class="action-button" mat-icon-button>
            <mat-icon>refresh</mat-icon>
        </button>
        <mat-paginator
            #paginator [length]="store.items.length"
            [pageSizeOptions]="[10, 20, 30, 100, 200]"></mat-paginator>
    </mat-toolbar-row>
</mat-toolbar>
<div class="table-container">
    <table
            [dataSource]="store.dataSource" [dkLoadmask]="store.loading | async" dkLoadmaskPosition="top"
            dkLoadmaskText="Getting data from the server..."
            mat-table
            matSort matSortActive="name" matSortDirection="desc" matSortDisableClear>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th *matHeaderCellDef mat-header-cell>
                <mat-checkbox
                        (change)="$event ? masterToggle() : null"
                        [aria-label]="checkboxLabel()"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td *matCellDef="let row" mat-cell>
                <mat-checkbox
                        (change)="$event ? selection.toggle(row) : null"
                        (click)="$event.stopPropagation()"
                        [aria-label]="checkboxLabel(row)"
                        [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
            <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="card_uid">
            <th *matHeaderCellDef mat-header-cell>Card UUID</th>
            <td *matCellDef="let element" mat-cell>{{ element.uuid }}</td>
        </ng-container>

        <ng-container matColumnDef="role">
            <th *matHeaderCellDef mat-header-cell>Role</th>
            <td *matCellDef="let element" mat-cell>{{ displayRoleName(element.i_role) }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let element" mat-cell>
                <button
                        mat-icon-button class="action-button"
                        [matTooltip]="'Edit'"
                        (click)="openDialog('edit', element)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="['select', 'name', 'card_uid', 'role', 'actions']" mat-header-row></tr>
        <tr *matRowDef="let row; columns: ['select', 'name', 'card_uid', 'role', 'actions'];" mat-row>
        </tr>
    </table>
</div>

<ng-template #manageEntityDialog>
    <h1 mat-dialog-title>{{ this.dialogEditMode ? 'Edit user' : 'Add new user' }}</h1>
    <div mat-dialog-content vflex-layout>
        <form [formGroup]="currentModel.modelForm" vflex-layout>
            <mat-form-field flex>
                <input [(ngModel)]="currentModel.name" required formControlName="name" matInput placeholder="Name">
            </mat-form-field>
            <mat-form-field flex>
                <input [(ngModel)]="currentModel.uuid" required formControlName="uuid" matInput placeholder="Card UUID">
            </mat-form-field>
        </form>
        <mat-form-field flex>
            <mat-label>Role</mat-label>
            <mat-select [(value)]="currentModel.i_role">
                <mat-option [value]="this.dialogEditMode ? null : undefined">None</mat-option>
                <mat-option *ngFor="let role of roles.items" [value]="role.i_role">
                    {{ role.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button [mat-dialog-close]="false" mat-button>Close</button>
        <button
                [disabled]="currentModel.modelForm.invalid"
                [mat-dialog-close]="true"
                mat-button>
            {{ this.dialogEditMode ? 'Save' : 'Create' }}
        </button>
    </div>
</ng-template>
