<mat-slide-toggle
  [checked]="loading"
  (change)="loading=$event.checked">
  Loading
</mat-slide-toggle>

<mat-card>
  <mat-card-header>Users list</mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="loading">
      <mat-progress-bar
        [color]="'primary'"
        [mode]="'indeterminate'">
      </mat-progress-bar>
      <div class="load-message">Getting data from the server...</div>
    </ng-container>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-stroked-button color="primary">Add</button>
        <button mat-stroked-button color="primary">Delete</button>

        <mat-slide-toggle
          color="primary"
          [checked]="loading"
          (change)="loading=$event.checked">
          Loading
        </mat-slide-toggle>
        <span flex></span>
        <mat-paginator #paginator [length]="fakeData.length"
                       [pageSizeOptions]="[10, 20, 30, 100, 200]"></mat-paginator>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="table-container">

      <table mat-table [dataSource]="dataSource"
             matSort matSortActive="name" matSortDisableClear matSortDirection="desc">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox >
              <!--            (change)="$event ? masterToggle() : null"-->
              <!--                        [checked]="selection.hasValue() && isAllSelected()"-->
              <!--                        [indeterminate]="selection.hasValue() && !isAllSelected()"-->
              <!--                        [aria-label]="checkboxLabel()">-->
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox>
              <!--            (click)="$event.stopPropagation()"-->
              <!--                        (change)="$event ? selection.toggle(row) : null"-->
              <!--                        [checked]="selection.isSelected(row)"-->
              <!--                        [aria-label]="checkboxLabel(row)">-->
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <!-- Description Column -->
        <ng-container matColumnDef="card_uid">
          <th mat-header-cell *matHeaderCellDef>Card UUID</th>
          <td mat-cell *matCellDef="let element">{{element.card_uid}}</td>
        </ng-container>
        <!-- IP Column -->
        <ng-container matColumnDef="group">
          <th mat-header-cell *matHeaderCellDef>Group</th>
          <td mat-cell *matCellDef="let element">{{element.group}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['select', 'name', 'card_uid', 'group']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['select', 'name', 'card_uid', 'group'];">
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
